.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
 /* -fx-font-style: italic; */
  -fx-text-fill: black;
	/*-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;*/
}

.button {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
 /* -fx-font-style: italic; */
  -fx-text-fill: #000000;
}

.menu .label {
  -fx-font-size: 10px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-border-width: 0px;
}

.addressOK {
  -fx-text-fill: green;
}

.addressNotOK {
  -fx-text-fill: red;
}

#root {
    -fx-border-color: black;
    -fx-border-insets: 10;
    -fx-border-width: 1;
}